<h1><%= image_tag "bg_header.png" %></h1>
<!--div id="filter" class="clearfix">
	<p>フィルタ:　</p>
	<ul>
		<li>自分の課題のみ</li>
		<li>期限が過ぎた課題</li>
	</ul>
</div-->

<div id="components">
	<ul>
		<li class="coding">コーディング</li>
		<li class="design">デザイン</li>
		<li class="back_end">バックエンド</li>
		<li class="other">その他</li>
	</ul>
</div>

<div id="task_area">
		<%= render partial: '/kanban/task', :locals =>{:result => @result} %>
</div>