BacklogKanban::Application.config.host = 'xxx.backlog.jp'
BacklogKanban::Application.config.project_id = 1234567890
BacklogKanban::Application.config.user = 'xxxxxxxx'
BacklogKanban::Application.config.password = 'xxxxxxxx'
