// Place all the styles related to the kanban controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

*{
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

#filter p {
	float: left;
}

#filter ul li {
	float: left;
}

#task_area {
	.kanban {
		float: left;
		width: 275px;
		background-color: #d7f6eb;
		margin-left: 20px;
		min-height: 800px;
		margin-bottom: 40px;
		ul{
			padding: 10px;
			li {
				padding: 5px;
				width: 114px;
				float: left;
				p {
					padding: 5px;
				}
			}
		}
	}
}

#task_area ul > img {
	width: 275px; 
	margin: -10px 0 0 -10px;
}