// Place all the styles related to the kanban controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

*{
	margin: 0;
	padding: 0;
	background-size: 100% 100%; 
}

li {
	list-style-type: none;
}

h1 {
	font-size: 0;
}

#filter p {
	float: left;
}

#filter ul li {
	float: left;
}

#components ul {
	text-align: right;
	margin: 2px 19px 5px 0;
	.coding {
		background-color: #fdac38;
	}
	.design {
		background-color: #f69dc7;
	}
	.back_end {
		background-color: #4735b5;
	}
	.other {
		background-color: #6a85a7;
	}
}

#components li {
	display: inline;
	color: white;
	padding: 5px 10px;
	font-size: 10px;
}

#task_area {
	.kanban {
		float: left;
		width: 275px;
		background-image: url("bg_iconimg.png");
		background-size: auto;
		background-color: #d7f6eb;
		margin-left: 20px;
		min-height: 800px;
		margin-bottom: 40px;
		ul{
			padding: 10px 0 10px 10px;
			li {
				margin: 7px;
				width: 114px;
				min-height: 140px; 
				float: left;
				background-image: url("other.png");
				p {
					padding: 5px;
					font-size: 12px;
					color: #706B6A;
				}
			}
		}
	}
}

#task_area .kanban ul li.task1073914596 {
	background-image: url("1073914596.png");
}

#task_area .kanban ul li.task1073914602 {
	background-image: url("1073914602.png");
}

#task_area .kanban ul li.task1073914601 {
	background-image: url("1073914601.png");
}

#task_area .kanban ul li.hurry {
	background-image: url("bg_task_red.png");
}


#task_area ul > img {
	width: 275px; 
	margin: -10px 0 0 -10px;
}

#task_area ul li p.summary {
	height: 36px;
	overflow: auto;
}

#task_area ul li p.star {
	margin-left: 4px;
	border: 0px;
}

#task_area ul li p img {
	margin-left: -4px;
}

