<!DOCTYPE html>
<html>
<head>
  <title>BacklogKanban</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
